# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Hardhat specific
artifacts/
cache/
coverage/
typechain/

# MacOS
.DS_Store

# Linux
*.swp

# VS Code
.vscode/
.history/

# Git files
*.log
*.tmp

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

# MetaMask and Ethereum Wallet files
*.keystore
*.secrets

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

.deps

.states/
.mocharc.json